langchain==0.3.20
langchain-community==0.3.20

PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
openai==0.27.6
faiss-cpu==1.7.4
altair==4
tiktoken==0.4.0
langchain-groq==0.2.4
huggingface-hub>=0.20.0
InstructorEmbedding==1.0.1
sentence-transformers==3.4.1
